.invisibl{
	display: none;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 72px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{ 
        margin-right: 25px;
        img{
            width: 342px;
            height: 72px;
        }
    }
    &__small-logo{
        display: none;
    }
    &__mobil-menu {
        flex-basis: 1024px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        flex-basis: 649px;
    }
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-size: 20px;
        line-height: 24px;
        color: $nav-color;
        opacity: 0.9;
    }
    &__main-phone{
        display: flex;
        align-items: center;
    }
    &__tg{
        margin-left: 18px;
        margin-right: 8px;   
    }
    &__tg,
    &__viber{
        width: 24px;
        height: 24px;
        display: block;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__phon {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__email {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__btn {
        display: none;
        width: 345px;
        height: 64px;
        background: #84A1DB;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #272727;
    }
    &__menu {
        width: 36px;
        height: 36px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__line {
        position: relative;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        &::after,
        &::before{
            content:'';
            width: 30px;
            height: 2px;
            background: #FFFFFF;
            position: absolute;
        }
        &::after{
            top: 8px;
        }
        &::before{
            bottom: 8px;
        }
    }
}

@media(max-width:1344px){
    .header {
        &__logo{ 
            img{
                width: 85px;
                height: 79px;
            }
        }
    }
}
@media(max-width:1072px){
    .header {
        &__contacts{ 
            display: none;
        }
        &__mobil-menu {
            flex-basis: 750px;
        }
    }
}
@media(max-width:900px){
    .header {
        background-color:transparent;
        padding: 24px 0;
        &__mobil-menu.header__mobil-menu-active{
            transform: translateY(0%);
            transition: transform .5s;
        }
        &__mobil-menu {
            transition: transform .5s;
            transform:translateY(-100%); 
            z-index: 10;
            padding: 56px 25px 25px;
            flex-basis: initial;
            flex-direction: column;
            align-items: start;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #fff;
            &::before{
                position: absolute;
                content: 'МЕНЮ';
                display: block;
                font-family: 'Manserrat-Medium';
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                opacity: 0.3;
            }
        }
        &__nav {
            position: relative;
            flex-basis: initial;
            margin: 32px 0 ;
        }
        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &__item{
            margin: 16px 0;
        }
        &__link {
            font-size: 16px;
            color: #272727;
        }
        &__contacts{
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        &__phones{
            order:2;
            padding-top: 30px;
            position: relative;
            &::before{
                top: 0;
                left: 0;
                position: absolute;
                content: 'Контактная информация';
                display: block;
                font-family: 'Manserrat-Medium';
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                opacity: 0.3;
            }
        }
        &__phon {
            font-family: 'Manserrat-Medium';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #272727;
        }
        &__emails{
            padding-top: 30px;
            position: relative;
            order:1;
            margin-bottom: 34px;
            &::before{
                top: 0;
                left: 0;
                position: absolute;
                content: 'Почта';
                display: block;
                font-family: 'Manserrat-Medium';
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                opacity: 0.3;
            }
        }
        &__email {
            font-family: 'Manserrat-Medium';
            font-weight: 500;
            font-size: 16px;
            color: #84A1DB;
        }
        .invisibl{
            display: block;
        }
        &__menu{
            display: flex;
        }
        &__menu-active {
            transition: transform .5s;
            z-index: 100;
            position: absolute;
            top: 50px;
            right: 10px;
            .header__line {
                transform: rotate(45deg);
                background: #272727;
                &::before{
                    display: none;
                }
                &::after{
                    top: 0px;
                    transform: rotate(-90deg);
                    background: #272727;
                }
            }
        }
    }
}

@media (min-width:900px){
    .header__scroll{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        padding: 42px 0;
        &.header.container {
            max-width: 1720px;
        }
        &.header__logo{ 
            display: none;
        }
        &.header__small-logo{
            width: 82px;
            height: 79px;
        }
        &.header__link {
            color: #272727;
            opacity: 0.5;
        }
        &.header__phon {
            color: #272727;
        }
        &.header__emails {
            display: none;
        }
        &.header__tg {
            display: none;
        }
        &.header__viber {
            display: none;
        }
        &.header__btn {
            display: block;
            margin-left: 15px;
        }
    }
}