$Manserrat-Bold: 'Manserrat-Bold';
$Manserrat-SemiBold: 'Manserrat-SemiBold';
$Manserrat-Medium: 'Manserrat-Medium';

//color
$header-color: #fff;
$text-color: #272727;
$black-color: #272727;
$phone-color:#84A1DB;