.header {
     padding-top: 72px;

     &__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
     }

     &__small-img-link {
          display: none;
     }

     &__main-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
     }

     &__main-img-link {
          display: block;
     }

     &__main-img {
          width: 342px;
          height: 72px;
     }

     &__mobile-text {
          display: none;
     }

     &__list {
          list-style: none;
          display: flex;
          align-items: center;
     }

     &__item+&__item {
          margin-left: 36px;
     }

     &__link {
          padding: 2px 0;
          opacity: 0.9;
          color: $white-menu;
          transition: color .3s;
     }

     &__link:hover {
          color: $logo-color;
     }

     &__contacts-not {
          display: none;
     }

     &__tel {
          color: $white-menu;
          transition: color .3s;
     }

     &__tel:hover {
          color: $logo-color;
     }

     &__contacts-main {
          display: flex;
          align-items: center;
     }

     &__contacts-icons {
          display: flex;
          align-items: center;
          margin-left: 18px;
     }

     &__contacts-icon-link {
          display: block;
          width: 24px;
          height: 24px;
     }

     &__contacts-icon-link+&__contacts-icon-link {
          margin-left: 8px;
     }

     &__contacts-icon {
          width: 24px;
          height: 24px;
          fill: $white-menu;
     }

     &__bottom {
          margin-top: 10px;
     }

     &__btn {
          display: none;
     }

     &__menu {
          display: none;
     }
}

@media(max-width:1296px) {
     .header {
          padding-top: 4.5em;

          &__small-img-link {
               display: block;
               width: 5.125em;
               height: 5.125em;
          }

          &__small-img {
               object-fit: cover;
               width: 5.125em;
               height: 5.125em;
          }

          &__main-img {
               display: none;
          }

          &__item+&__item {
               margin-left: 2.25em;
          }

          &__contacts-icons {
               margin-left: 1.125em;
          }

          &__contacts-icon-link+&__contacts-icon-link {
               margin-left: 0.5em;
          }

          &__bottom {
               margin-top: 0.625em;
          }
     }
}

@media(max-width: 558px) {
     .header {
          padding-top: 24px;

          &__small-img-link {
               width: 42px;
               height: 42px;
          }

          &__small-img {
               width: 42px;
               height: 42px;
          }

          &__main-wrapper {
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               min-height: 648px;
               transform: translateY(-200%);
               background: $white-menu;
               transition: transform .3s;
          }

          &__menu {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 36px;
               height: 36px;
          }

          &__line {
               height: 2px;
               width: 30px;
               background-color: $white-menu;
               position: absolute;
               right: 25px;
          }

          &__line::before,
          &__line:after {
               position: absolute;
               display: block;
               content: '';
               height: 2px;
               width: 30px;
               background-color: $white-menu;
          }

          &__line::before {
               top: 8px;
          }

          &__line:after {
               bottom: 8px;
          }

          // выезжающее меню
          &__main-wrapper--active {
               padding: 38px 32px;
               position: absolute;
               display: block;
               top: 0;
               left: 0;
               right: 0;
               transform: translateY(0%);
               transition: transform .5s;


               .header__mobile-text {
                    @include font(500, 16px, 24px, $font-family);
                    color: #000000;
                    opacity: 0.3;
                    display: block;
                    margin-bottom: 8px;
               }

               .header__mobile-menu-text {
                    margin-bottom: 32px;
               }

               .header__list {
                    flex-direction: column;
                    align-items: start;
                    margin-bottom: 48px;
               }

               .header__item+.header__item {
                    margin-left: 0;
                    margin-top: 32px;
               }

               .header__link {
                    @include font(700, 16px, 24px, $font-family);
                    color: $headers-color;
                    transition: color.3s;
               }

               .header__link:hover {
                    color: $btn-color;
               }

               .header__link+.header__link {
                    margin-left: 0;
               }

               .header__contacts {
                    display: flex;
                    flex-direction: column;
               }

               .header__contacts-not {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-bottom: 12px;
               }

               .header__contacts-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
               }

               .header__contacts-main {
                    display: flex;
               }

               .header__tel {
                    @include font(700, 16px, 24px, $font-family);
                    color: #84A1DB;
                    display: inline-block;
               }

               .header__main-tel,
               .header__tel+.header__tel {
                    margin-top: 12px;
               }

               .header__top {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    order: 2;
               }

               .header__contacts-icons {
                    margin-left: 14px;

               }

               .header__contacts-icon-link {
                    display: inline-block;
               }

               .header__contacts-icon {
                    fill: #000;
               }

               .header__bottom {
                    order: 1;
                    margin-bottom: 25px;
               }
          }

          .header__menu--active {
               .header__line {
                    background-color: $headers-color;
                    z-index: 99999;
                    transform: rotateZ(45deg);
                    transition: transform 1s;
               }

               .header__line::before,
               .header__line:after {
                    background-color: $headers-color;

               }

               .header__line::before {
                    display: none;
               }

               .header__line:after {
                    transform: rotateZ(90deg);
                    bottom: 0;
               }
          }
     }
}