* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: $font-family;
    color: #000;
}

:root {
    font-size: 16px;
}

@media(max-width:1480px) {
    :root {
        font-size: calc(0.1em + 1vw);
    }
}

@media(max-width:524px) {
    :root {
        font-size: 16px;
    }
}

.btn {
    border: initial;
    padding: 1.25rem 2.25rem;
    outline: initial;
    cursor: pointer;
    transition: background .3s, transform .3s, box-shadow .3s;
}

.btn:hover {
    background: #9ebbf3;
}

.btn:active {
    transform: scale(.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.title {
    margin-bottom: 88px;
    @include font(700, 3.75rem, 1em, $font-family)
}